doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/websocket.js')
    script(src='/javascripts/scripts.js')
    block scripts
  body
    include header
    div#content
      block content
