extends layout

block scripts
  script(src='/javascripts/lobby.js')

block content
  h1 Lobby
  p Welcome to the lobby
  p#roomName
  p#roomInfo
  select#colorSelector
  input(type='button' value='Start Game').button#startGameButton
  